# Ignore Python virtual environment
venv/

# Ignore Node.js dependencies
frontend/node_modules/

# Ignore environment files
.env

# Ignore too much data in data
data/images/auto_test
data/images/test
data/images/train

# Ignore excesive models

notebooks/models
notebooks/training
notebooks/datasets_augmented

/backend/config/__pycache__
/backend/routes/__pycache__
/backend/utils/__pycache__

